<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MGL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MGL.Properties.Settings>
            <setting name="Dev1" serializeAs="String">
                <value />
            </setting>
            <setting name="SIM1" serializeAs="String">
                <value />
            </setting>
            <setting name="Dev2" serializeAs="String">
                <value />
            </setting>
            <setting name="SIM2" serializeAs="String">
                <value />
            </setting>
            <setting name="Dev3" serializeAs="String">
                <value />
            </setting>
            <setting name="SIM3" serializeAs="String">
                <value />
            </setting>
            <setting name="CHK1" serializeAs="String">
                <value />
            </setting>
            <setting name="CHK2" serializeAs="String">
                <value />
            </setting>
            <setting name="CHK3" serializeAs="String">
                <value />
            </setting>
        </MGL.Properties.Settings>
    </userSettings>
</configuration>